[submodule "gridkit"]
	path = gridkit
	url = git@github.com:villagekit/gridkit-legacy
[submodule "node-modules"]
	path = node-modules
	url = git@github.com:villagekit/node-modules
[submodule "ui"]
	path = ui
	url = git@github.com:villagekit/ui
