[submodule "gridkit"]
	path = gridkit
	url = git@github.com:villagekit/gridkit
[submodule "node-modules"]
	path = node-modules
	url = git@github.com:villagekit/node-modules
[submodule "ui"]
	path = ui
	url = git@github.com:villagekit/ui
[submodule "gridkit-products"]
	path = gridkit-products
	url = git@github.com:villagekit/gridkit-products
