{#- Create absolute path without domain part from the base_url -#}
{%- macro base_path() -%}
{%- set base_without_protocol = config.base_url | trim_start_matches(pat="https://") | trim_start_matches(pat="http://") -%}
{%- set temp = base_without_protocol | split(pat="/") -%}
{% set base_without_domain = base_without_protocol | trim_start_matches(pat=temp[0]) | trim_end_matches(pat="/") | safe %}
{{- base_without_domain ~ '/' | safe -}}

{%- endmacro -%}{%- macro include_script(file, additional_tags="") -%}
    <script src="{{ content::base_path() }}{{ file | safe }}?{{ get_hash(path=file, base64=true) | truncate(length=6, end="")}}"{% if config.mode=="build" %} integrity="sha384-{{ get_hash(path=file, sha_type=384, base64=true) | safe }}"{% endif %} {{ additional_tags | safe }}></script>
{%- endmacro -%}

{%- macro include_stylesheet(file) -%}
    <link rel="stylesheet" href="{{ content::base_path() }}{{ file | safe }}?{{ get_hash(path=file, base64=true) | truncate(length=6, end="")}}"{% if config.mode=="build" %} integrity="sha384-{{ get_hash(path=file, sha_type=384, base64=true) | safe }}"{% endif %}>
{%- endmacro -%}

{%- macro icon(id, class="", label="") -%}
{%- set icons = load_data(path="icons.toml", required=true) -%}
<svg role="img" aria-label="{% if label != '' %}{{ label }}{% else %}{{ id | capitalize }}{% endif %}" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="h-6 w-6 mr-2 {{ class }}" viewBox="0 0 24 24">{{ icons[id] | safe }}</svg>
{%- endmacro -%}
