{%- import "macros/content.html" as content -%}

<!doctype html>
<html lang="{{ lang }}"">
<head>
    <title>{% block title %}{% if page.title %}{{ page.title }} | {% endif %}{{ config.title }}{% endblock title %}</title>

    <!-- meta data -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ config.description }}{% endif %}">

    <!-- stylesheets, fonts, feeds -->
    {{ content::include_stylesheet(file="css/main.css") }}
    {% if config.generate_feeds %}<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/atom.xml">{% endif %}

    <!-- favicon -->
    {% if config.extra.favicon.svg %}<link rel="icon" href="{{ content::base_path() }}{{ config.extra.favicon.svg }}" type="image/svg+xml">{% endif %}
</head>

<body class="h-screen">
    <div class="@container drawer min-h-full">
        <input id="main-drawer" type="checkbox" class="drawer-toggle lg:hidden">
        <div class="drawer-content flex min-h-full flex-col"><!-- to expand over the full screen even on short pages -->
            <header class="sticky top-0 z-50 text-primary-content bg-primary shadow-sm opacity-93">
                <div class="navbar">
                <div class="navbar-start">
                    {% if config.title %}<a class="btn btn-ghost hover:bg-primary-content hover:text-primary text-xl no-underline" href="{{ content::base_path() }}">{{ config.title }}</a>{% endif %}
                </div>
                <div class="navbar-center max-lg:hidden lg:flex">
                    <ul class="menu menu-horizontal px-1 gap-x-2">
                        {% if config.extra.navbar.links -%}
                        {% for link in config.extra.navbar.links %}
                        <li>TODO navbar button</li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                </div>
                <div class="navbar-end">
                    {% if config.build_search_index %}
                    <div class="max-md:hidden">
                        <label tabindex="0" class="input text-primary bg-primary-content focus:outline-teal-500">
                            {{ content::icon(id="search", class="h-[1em] opacity-50", icons=icons) }}
                            <input id="desktop-search" type="search" class="search-input grow" placeholder="Search">
                        </label>
                    </div>
                    <label id="search-button" for="search-bar" aria-label="open search" class="btn btn-square btn-ghost swap swap-rotate hover:bg-primary-content hover:text-primary md:hidden">
                        {{ content::icon(id="search", icons=icons) }}
                    </label>
                    {% endif %}
                    {% if config.extra.navbar.links or config.extra.enable_theme_switching or config.languages | length > 0 -%}
                    <label for="main-drawer" aria-label="open sidebar" class="btn btn-square btn-ghost swap swap-rotate hover:bg-primary-content hover:text-primary lg:hidden">
                        {{ content::icon(id="list-bullet", class="h-6 w-6 swap-off [:checked~*_&]:!-rotate-45 [:checked~*_&]:!opacity-0", icons=icons) }}
                        {{ content::icon(id="x-mark", class="h-5 w-5 swap-on [:checked~*_&]:!rotate-0 [:checked~*_&]:!opacity-100", icons=icons) }}
                    </label>
                    {% endif -%}
                </div>
                </div>
                <div id="search-bar" class="hidden md:hidden pl-2 pr-2 pb-2">
                    <label tabindex="0" class="input text-primary bg-primary-content w-full">
                        {{ content::icon(id="search", class="h-[1em] opacity-50", icons=icons) }}
                        <input id="mobile-search" type="search" class="search-input grow" placeholder="Search">
                    </label>
                </div>
            </header>

            <main class="flex-1 flex justify-center px-4">
                <div class="@container flex-col flex-1 shrink mt-4 max-w-4xl">
                    <!-- search results shown between header and content -->
                    <div tabindex="0"
                        class="search-results dropdown-content hidden bg-base-200 text-base-content rounded-box z-1 p-2 shadow-2xl list-none max-w-4xl flex-row lg:absolute lg:right-0 lg:mr-4">
                        <div class="search-results__items"></div>
                    </div>

                    <div class="pb-8">
                    {% block content %}
                    {% endblock content %}
                    </div>
                </div>
            </main>

            {% if paginator and paginator.number_pagers > 1 %}
            <!-- pagination -->
            <div class="join mx-auto w-full justify-center mt-4 mb-4">
                {% for pager in range(start=1, end=paginator.number_pagers+1) %}
                <a href="{% if pager == 1 %}{{ paginator.first }}{% else %}{{ paginator.base_url }}{{ pager }}{% endif %}"
                    class="join-item btn {% if paginator.current_index == pager %}btn-active btn-secondary{% endif %}"
                    aria-label="{{ pager }}">
                    {{ pager }}
                </a>
                {% endfor %}
            </div>
            {% endif %}

            <footer class="footer footer-horizontal footer-center bg-base-200 text-base-content rounded pt-6 gap-0">
                {% if config.extra.footer.links %}
                <nav class="grid grid-flow-col gap-4 mb-6">
                    {% for link in config.extra.footer.links %}
                    <a class="link link-hover" href="{{ content::base_path() }}{{ link.url }}">{{ link.label }}</a>
                    {% endfor %}
                </nav>
                {% endif %}
                <nav class="grid grid-flow-col gap-4 mb-6">
                        TODO social links
                        {% if config.generate_feeds %}
                        <a href="/atom.xml" title="RSS Feed" target="_blank">{{ content::icon(id="rss", class="h-8 w-8", icons=icons) }}</a>
                        {% endif %}
                </nav>
                {% if config.extra.footer.notice %}
                <aside>
                    <p>© {{ now() | date(format="%Y") }} {{ config.extra.footer.notice | safe }}</p>
                </aside>
                {% endif %}
            </footer>
        </div>

        <div class="drawer-side z-60">
            <label for="main-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
            <ul class="menu menu-lg bg-base-200 min-h-full w-80 p-4">
                {% if config.extra.navbar.links %}
                {% for link in config.extra.navbar.links %}
                {{ content::drawer_button(url=link.url, text=i18n_user[link.i18n_key] | default(value=i18n[link.i18n_key])) }}
                {% endfor %}
                {% endif %}
                <hr class="mt-2 mb-2">
                {% if config.languages | length > 0 %}
                <li><details>
                    <summary class="">{{ content::translate(value="Language", i18n=i18n, i18n_user=i18n_user) }}</summary>
                    <ul>
                        <li><a href="{% if page %}{{ page.permalink }}{% else %}{% endif %}" class="no-underline menu-active">{{ content::translate(value="language_name", i18n=i18n, i18n_user=i18n_user) }}</a></li>
                        {%- for language_code,language in config.languages -%}
                        <li>{{ translation::link_to_translated_page(page=page | default(value=""), language_code=language_code, class="no-underline") }}</li>
                        {% endfor %}
                    </ul>
                </details></li>
                {% endif %}
                {% if config.extra.enable_theme_switching %}
                <li><details>
                    <summary class="">{{ content::translate(value="Theme", i18n=i18n, i18n_user=i18n_user) }}</summary>
                    <ul>
                        {% for theme in config.extra.themes %}
                        <li><button class="" data-set-theme="{{ theme.identifier }}">{{ theme.name }}</button></li>
                        {% endfor %}
                    </ul>
                </details></li>
                {% endif %}
            </ul>

        </div>
    </div>

    {% if config.extra.enable_theme_switching %}{{ content::include_script(file="js/theme-change.js") }}{% endif %}
    {% if config.build_search_index and config.search.index_format == "elasticlunr_json" -%}
    {{ content::include_script(file="js/search.js", additional_tags='lang="' ~ lang ~ '"') }}
    {{ content::include_script(file="elasticlunr.min.js") }}
    {% if lang != "en" %}
    {{ content::include_script(file="lunr.stemmer.support.min.js") }}
    {{ content::include_script(file="lunr." ~ lang ~ ".min.js") }}
    {% endif %}
    {% endif %}
    {%- block extra_javascript -%}{%- endblock extra_javascript -%}
</body>
